.form{
  width: 90%;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputDiv{
  width: 60%;
  position: relative;
}
input, select{
  width: 50%;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #fff;
  font-weight: bolder;
  font-size: 1.02rem;
  background: #fff;
  text-indent: 40px;
  box-shadow: 5px 4px 10px rgba(0,0,0, 0.2);
}
.search{
 display: flex;
  place-items: center;
  font-size: 1.7rem;
  color:  hsl(0, 0%, 52%);
  text-align: left;
  position: absolute;
  top: 15px;
  left: 15px;
}
select{
  width: 20%;
    color:  hsl(0, 0%, 40%);
  cursor: pointer;
  text-indent: 0px;
}