.form{
  width: 90%;
  margin: 150px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputDiv{
  width: 60%;
  position: relative;
}
input, select{
  width: 50%;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #fff;
  font-weight: bolder;
  font-size: 1.02rem;
  background: #fff;
  text-indent: 40px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.search{
 display: flex;
  place-items: center;
  font-size: 1.7rem;
  color:  hsl(0, 0%, 52%);
  text-align: left;
  position: absolute;
  top: 15px;
  left: 15px;
}
select{
  width: 20%;
    color:  hsl(0, 0%, 40%);
  cursor: pointer;
  text-indent: 0px;
}
@media(max-width: 922px){
  form{
    width: 95%;
  }
  .inputDiv{
    width: 70%;
  }
  .select{
    width: 30%;
  }
}
@media(max-width: 700px){
  form{
    flex-direction: column;
    gap: 35px;
  }
  input{
    width: 100%;
  }
  .select{
    width: 70%;
  }
}
@media(max-width: 540px){
   .inputDiv{
    width: 90%;
  }
  .select{
    width: 90%;
  }
}